<mat-card>
  <div>
    <h3>Sign In</h3>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- form field for email input-->
    <!-- if email is valid give the 'accent' color to field -->
    <mat-form-field [color]="email!.valid && 'accent'">
      <!-- material input -->
      <!-- bind to email form control -->
      <input
        matInput
        formControlName="email"
        placeholder="Email"
        autocomplete="off"
      />

      <!-- show error message when email is not valid -->
      <mat-error *ngIf="email!.invalid && email!.dirty">
        You must enter a valid email address
      </mat-error>
    </mat-form-field>

    <!-- form field for password -->
    <!-- don't show if user's trying to reset the password -->
    <mat-form-field [color]="password!.valid && 'accent'">
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        autocomplete="off"
      />

      <mat-error *ngIf="password!.invalid && password!.dirty"
        >Password must be at least 6 characters long</mat-error
      >
    </mat-form-field>

    <mat-error class="server-error"> {{ serverMessage }} </mat-error>

    <!-- disable submit button if form is invalid || password doesn't match || form is loading -->
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="form.invalid || loading"
    >
      Submit
    </button>
  </form>
</mat-card>
