<!-- <ng-container *ngIf="user | async; else login">
  Congrats You logged in

  <button></button>
</ng-container>

<ng-template #login>
  <input matInput type="email" [(ngModel)]="email" />

  <hr />

  <button [disabled]="emailSent" (click)="sendEmailLink()">Send Link</button>

  <hr />

  <div *ngIf="emailSent">We sent you an email with your login link.</div>

  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</ng-template> -->

<ng-container>
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</ng-container>

<ng-template #login>
  <h1>You are already login</h1>
</ng-template>
