<section class="hero">
  <h1 class="hero__title">Find Property that are made for you.</h1>
  <p class="hero__body-text">
    Eveniet suscipit est, iusto dignissimos distinctio, nam beatae vel omnis
    eligendi blanditiis odio non. Eius ea natus neque.
  </p>
  <button class="btn cta-main">Get Started</button>
  <div class="achievements flex">
    <p>
      1200
      <span class="more-sign">+</span>
      <span class="subtext">Property Listed</span>
    </p>
    <p>
      4500
      <span class="more-sign">+</span>
      <span class="subtext">Happy Customers</span>
    </p>
    <p>
      240
      <span class="more-sign">+</span>
      <span class="subtext">Awards Won</span>
    </p>
  </div>
  <div class="search flex">
    <p class="search__heading">Search for homes in your budget</p>
    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Miasto</mat-label>
        <mat-select
          [(ngModel)]="this.filter.city"
          (selectionChange)="
            this.filter.filterExact('city', this.filter.city); onSelectChange()
          "
        >
          <mat-option value="any">Dowolne</mat-option>
          <mat-option value="Gdańsk">Gdańsk</mat-option>
          <mat-option value="Sopot">Sopot</mat-option>
          <mat-option value="Gdynia">Gdynia</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Typ Nieruchomości</mat-label>
        <mat-select
          [(ngModel)]="this.filter.type"
          (selectionChange)="
            this.filter.filterExact('type', this.filter.type); onSelectChange()
          "
        >
          <mat-option value="any">Dowolny</mat-option>
          <mat-option value="Dom">Dom</mat-option>
          <mat-option value="Działka">Działka</mat-option>
          <mat-option value="Mieszkanie">Mieszkanie</mat-option>
          <mat-option value="Komercyjny">Komercyjny</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label> Typ Transakcji </mat-label>
        <mat-select
          [(ngModel)]="this.filter.transactionType"
          (selectionChange)="
            this.filter.filterExact(
              'transactionType',
              this.filter.transactionType
            );
            onSelectChange()
          "
        >
          <mat-option value="any">Dowolny</mat-option>
          <mat-option value="Wynajem">Wynajem</mat-option>
          <mat-option value="Sprzedaż">Sprzedaż</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</section>

<!-- Properties -->

<section class="popular" *ngIf="this.filter.filteredProperties">
  <div class="heading flex">
    <div>
      <p class="heading-label">Popular</p>
      <h3 class="sub-heading">Our Popular Residences</h3>
    </div>

    <a href="#">
      <div class="explore flex">
        <p>Explore All</p>
        <img src="../../../assets/arrow-right.svg" alt="arrow" />
      </div>
    </a>
  </div>

  <carousel
    [cellsToShow]="cellToShow"
    [height]="carouselHeight"
    [arrowsTheme]="'dark'"
    [margin]="20"
    [arrows]="false"
  >
    <div
      class="carousel-cell"
      *ngFor="let property of this.filter.filteredProperties"
    >
      <div class="residence" #carouselCell>
        <div class="residence-image">
          <img src="{{ property.img[0].url }}" alt="residence-image" />
        </div>
        <div class="info">
          <p class="location">
            {{ property.city }}, {{ property.distriction }}
          </p>
          <div class="features flex">
            <p class="rooms">{{ property.rooms }} bed</p>
            <p class="size">
              <i class="bx bxs-ruler"></i>
              {{ property.area }} m2
            </p>
            <p class="area">
              {{ property.area }} m
              <span class="power">2</span>
            </p>
          </div>
          <div class="residence-cta flex">
            <button class="btn" (click)="showPropertyDetails(property)">
              SZCZEGÓŁY
            </button>
            <p class="price">{{ property.price }} ZŁ</p>
          </div>
        </div>
      </div>
    </div>
  </carousel>
</section>
