<header class="flex">
  <div class="logo">
    <a href="index.html">
      <img src="/assets/logo/logo-serumah.svg" alt="logo" />
    </a>
  </div>
  <div class="flex" style="align-items: center">
    <nav>
      <ul id="nav-menu" class="nav-menu flex" data-visible="false">
        <li>
          <a
            class="nav-link"
            [routerLink]="['/']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/properties']"
            routerLinkActive="active"
            >Nieruchomości</a
          >
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active">About Us</a>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active">Agents</a>
        </li>
      </ul>
    </nav>
    <button class="btn contact">Contact</button>

    <button
      class="nav-toggle"
      aria-controls="nav-menu"
      aria-expanded="false"
      #navToggle
    >
      <span class="sr-only">Menu</span>
    </button>
  </div>
</header>

<router-outlet></router-outlet>
