<header class="flex">
  <div class="logo">
    <a href="index.html"> </a>
  </div>
  <div class="flex" style="align-items: center">
    <nav>
      <ul id="nav-menu" class="nav-menu flex" data-visible="false">
        <li>
          <a
            class="nav-link"
            [routerLink]="['/']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >Główna</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/properties']"
            routerLinkActive="active"
            >Nieruchomości</a
          >
        </li>

        <button
          class="btn contact"
          [routerLink]="['/auth/registration']"
          routerLinkActive="active"
          *ngIf="!this.isLogged; else empty"
        >
          Rejestracja
        </button>

        <button
          class="btn contact"
          [routerLink]="['/auth/login']"
          routerLinkActive="active"
          *ngIf="!this.isLogged"
        >
          Zaloguj się
        </button>
        <button class="btn contact" (click)="auth.signOut()">
          Wyloguj się
        </button>
      </ul>
    </nav>

    <ng-template> </ng-template>

    <ng-template #empty> </ng-template>

    <button
      class="nav-toggle"
      aria-controls="nav-menu"
      aria-expanded="false"
      #navToggle
    >
      <span class="sr-only">Menu</span>
    </button>
  </div>
</header>

<router-outlet></router-outlet>
