<header class="flex">
  <div class="logo">
    <a href="index.html">
      <!-- <img src="/assets/logo/logo-serumah.svg" alt="logo" /> -->
    </a>
  </div>
  <div class="flex" style="align-items: center">
    <nav>
      <ul id="nav-menu" class="nav-menu flex" data-visible="false">
        <li>
          <a
            class="nav-link"
            [routerLink]="['/']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >Główna</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin', 'dashboard']"
            routerLinkActive="active"
            >Dashboard</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin', 'add']"
            routerLinkActive="active"
            >Add Property</a
          >
        </li>

        <li>
          <a
            class="nav-link"
            [routerLink]="['/admin', 'add-user']"
            routerLinkActive="active"
            >Add User</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="btn contact"
      [routerLink]="['/login']"
      routerLinkActive="active"
      *ngIf="!(auth.user$ | async); else signOut"
    >
      Login
    </button>

    <ng-template #signOut>
      <button class="btn contact" (click)="auth.signOut()">Sign out</button>
    </ng-template>

    <button
      class="nav-toggle"
      aria-controls="nav-menu"
      aria-expanded="false"
      #navToggle
    >
      <span class="sr-only">Menu</span>
    </button>
  </div>
</header>

<router-outlet></router-outlet>
